.container{
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;
}

.infoCount{
    width: 230px;
    height: 170px;
    background-color: white;
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 25px;
}

@media (max-width: 840px) {
    .container {
      flex-direction: column-reverse; 
    }
}

.txtInfoCount{
    color: black;
    padding: 25px; 
}

.saqueContainer, .depositContainer, .transitionsContainer {
    display: inline-block;
    padding: 20px;
    margin: 0 43px; 
    background-color: #FF8A00;
    width: 310px;
    border-radius: 15px;
    text-align: center;
}

.btnButtonLinkPage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 270px;
}

.txtPaginaSaque, .txtPaginaDeposito, .txtPaginaHistoric{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family:  'Courier New', Courier, monospace;
}   

.txtOpcoesCount{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family:  'Courier New', Courier, monospace;
}

.imgSaque, .imgDeposit, .imgHostoric{
    margin-top: 2rem;
}

.btnSaque, .btnDeposit, .btnHostoric{
    margin-top: -20rem;
}
