.btnError{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
.txtError{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}