.txtDevBank{
    margin: 2rem auto;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 5rem;
}
.inputAPI{
    font-size: 2rem;
    border-radius: 30px;
    display: block; /*centralizacao do input */
    margin: 2rem auto; /*centralizacao do input, mexendo no valor de "rem" ajusta o lugar dela */
    padding: 5px;
}
.btnAcessar{
    display: block; /*centralizacao do input */
    margin: 10rem auto;
    padding: 5px;
    border-radius: 10px;
}
.imgDevBank{
    margin: auto;
    display: block;
}
    