h1{
    margin: 2rem auto;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 5rem;
}
div > input{
    font-size: 2rem;
    border-radius: 30px;
    display: block; /*centralizacao do input */
    margin: 10rem auto; /*centralizacao do input, mexendo no valor de "rem" ajusta o lugar dela */
    padding: 5px;
}
div > button{
    display: block; /*centralizacao do input */
    margin: 10rem auto
}
    
    