.txtSaquePage{
    color: black;
    padding: 25px; 
}

.infoSaquePage{
    width: 230px;
    height: 170px;
    background-color: white;
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 25px;
}

.ContainersMeioSaque{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
    text-align: center;
}

.ContainersEsquerdaSaque{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 63.5%;
    left: 25%;
    transform: translate(-50%, -50%);
    gap: 20px;
    text-align: center;
}

.ContainerDireitaSaque{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 63.5%;
    left: 75%;
    transform: translate(-50%, -50%);
    gap: 20px;
    text-align: center;
}

.btnSacar{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.imgDevLogoPreto{
    position: absolute;
    top: 20%;
    left: 27%;
    transform: translate(-50%, -50%);
    width: 20%; 
    height: auto; 
}

.h1tagSaquePage{
    font-family:  'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 15px;
}
