.buttondeposit{
    width: 20px;
    height: 15px;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 30px;
    justify-content:center;
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
    
    
  }
  .buttondeposit:hover {
    border-color: #ffe600;
    transform:scale(1.03)
  }