Button{
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 30px;
    display: flex;
    justify-content: start;
}
button:hover {
    border-color: #f79503;
    border-width: 5px;
}
button:focus,
button:focus-visible {
  outline: auto -webkit-focus-ring-color;
}